#city{
    margin-bottom: 168px;
}
.city__tittle{
    max-width: 245px;
    margin-left: 85px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 72px;
    color: #83888F;  
}
.city__navbar{
    margin-left: 85px;
}
.city__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.city__img{
    margin-bottom: 43px;
    max-width: 40px;
    height: 49px;
}
.city__sub-tittle{
    max-width: 272px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B; 
}
.city__item2-link{
    max-width: 110px;
    margin-bottom: 20px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;  
}
@media only screen and (max-width:970px){
    
    .city__tittle{
        max-width: 245px;
        margin-left: 0;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 72px;
        color: #83888F;  
    }
    .city__navbar{
        margin-left: 0;
    }
    .city__sub-tittle{
        max-width: 223px;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
        color: #333D4B; 
    }
    .city__item2-link{
        max-width: 110px;
        margin-bottom: 20px;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;  
    }
}
@media only screen and (max-width:740px){
    
    .city__tittle{
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 72px;
        color: #83888F;  
    }
    .city__navbar{
        margin-left: auto;
        margin-right: auto;
    }
    .city__list{
        display: block;
    } 
    .city__item{
        margin-right: auto;
        margin-left: auto;
    }
    .city__img{
        margin-bottom: 47px;
        margin-right: auto;
        margin-left: auto;
        max-width: 40px;
        height: 49px;
    }
    .city__sub-tittle{
        max-width: 260px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        color: #333D4B; 
    }
    .city__item2-link{
        max-width: 326px;
        text-align: center;
        display: block;
    }
    .city__item2{
        margin-right: auto;
        margin-left: auto;
    }
    .city__list2{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}