.hero__content{
    padding-top: 137px;
    padding-bottom: 137px;
    margin-bottom: 168px;
    background-repeat: no-repeat;
    background-size: 1280px;
    background-image: url("../../img/hero-img.svg");
}
.herp__box{
    margin-left: 85px;
}
.hero__tittle{
    max-width: 188px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;   
    margin-bottom: 24px;
}
.hero__text{
    max-width: 423px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;   
}