.our__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our__img{
    max-width: 445px;
}
.our__tittle{
    max-width: 357px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;  
    margin-bottom: 24px;
}
.our__text{
    max-width: 540px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;  
}